* {
    main-bg:            #060606E6;
    main-fg:            #858585;
    main-br:            #5E5E5E;
    main-ex:            #2F2F2F;
    select-bg:          #858585;
    select-fg:          #060606;
}
